     <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Конткты</h5>
                    <p>
                        Головной офис нашей компании находится в Нижнем Новгороде. Мы работаем на рынке услуг с 1995 года. Среди наших клиентов такие известные фирмы, как ООО "Альфа", ОАО "Бета" и, разумеется ЗАО "Гамма".
                    </p>
                    
                    
                    
                    <ul>
                        <li> г. Нижний Новгород, ул. Зелёная 4</li>
                        <li> Телефон: 8 (831-40) 50-35-34 </li>
                        <li> Email: <a href="#">info@oooveles.ru </a></li>
                        <li> Skype: MST-RUSSIA</li>
                    </ul>
                    <ul class="social-bookmarks clearfix">
                        <li class="linkedin"><a href="#">behance</a></li>
                        <li class="facebook"><a href="#">facebook</a></li>
                        <li class="googleplus"><a href="#">googleplus</a></li>
                        <li class="twitter"><a href="#">twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h5 class="add_bottom_15">У Вас есть вопросы?</h5>
                    <div id="message-friend"></div>
                    <form method="post" action="#" id="contactfriend">
                        <div class="form-bg-1"><input type="text" id="name_footer" class="form-control" placeholder="Ваше имя*"></div>
                        <div class="form-bg-2"><input type="text" id="friendname_footer" class="form-control" placeholder="Оставьте свой телефон и наш менеджер свяжется с вами."></div>
                        <div class="form-bg-2"><textarea rows="3" id="message_footer" class="form-control" placeholder="Сообщение*"></textarea></div>
                        <div class="form-bg-1"><input type="text" id="verify_footer" class="form-control" placeholder="Проверка. 3 + 1 ="></div>
                        <input type="submit" id="submit-friend" value="Отправить" class=" button_medium add_top_30">
                    </form>
                </div>
            </div>
        </div>
        <div id="copy">© 2013 - All Rights Reserved</div>
        </footer><!-- End footer -->