<header>
<div class="container">
<div class="row">
<div class="col-md-4 col-xs-3"><h1 id="logo"><%= link_to "MST-RUSSIA", root_path %></h1></div>
<nav class="col-md-8 col-xs-9">
	<ul id="main-nav" class="sf-menu">
    <li><%= link_to "Главная", root_path %></li>
    <li class="active"><a href="#">О нас</a>
    	<ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Наша команда</a></li>
      	</ul>
    </li>
    <li><a href="#">Услуги</a></li>
    <li><a href="#">Контакты</a></li>
    </ul>
</nav><!-- End Nav -->
</div>
</div><!-- End container -->
</header> <!-- End header -->